<!DOCTYPE html>
<html ng-app="campus360">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="js/app.js"></script>
    <title>Document</title>
</head>
<body ng-controller="dashboardcontroller">
    <input type="text" ng-model="collegename">
    <h1>{{collegename}}</h1>
    <p>Total Student:{{totalStudents}}</p>
    <input type="text" ng-model="totalStudents">
    <button ng-click="totalStudents=totalStudents+1">ADD STUDENT</button>
    <p>Total Faculty:{{totalFaculty}}</p>
    <input type="text" ng-model="totalFaculty">
    <button ng-click="totalFaculty=totalFaculty+1">ADD STUDENT</button>
     
    <h2>Student List</h2>
    <button ng-click="showstudents= !showstudents">
show/hide students


    </button>
    <div ng-if="showDashboard = !showDashboard">
    <ul ng-hide="showstudents">
        
        <li ng-repeat="student in students">
            {{student}}
        </li>
    </ul>
    </div>
</body>
</html>
